body,html {
	margin: 0;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

.m-container-lg,.m-container-md,.m-container-sm,.m-strip-lg,.m-strip-md,.m-strip-sm {
	width: 100%;
	margin: 0;
}

.m-container-lg {
	height: 1000px;
}

.m-container-md {
	height: 750px;
}

.m-container-sm {
	height: 500px;
}

.m-strip-lg {
	height: 420px;
}

.m-strip-md {
	height: 330px;
}

.m-strip-sm {
	height: 240px;
}


.inner-sm {
	height: 50%;
	width: 60%;
}

.inner-md {
	height: 65%;
	width: 77.5%;
}

.inner-lg {
	height: 85%;
	width: 90%;
}

.m-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loose-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.loose-flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.m-flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


.pad-sm {
	padding: 25px 30px;
}

.pad-md {
	padding: 40px 50px;
}

.pad-lg {
	padding: 60px;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

h1 {
	font-size: 80px;
}

h2 {
	font-size: 68px;
}

h3 {
	font-size: 52px;
}

h4 {
	font-size: 42px;
}

h5 {
	font-size: 36px;
}




