#home-bg1 {
	background-image: url('images/bg1.jpg');
	background-size: cover;
	background-position: center;
}

#home-bg1 button {
	width: 200px;
	font-family: Assistant;
	font-size: 20px;
}

#home-strip {
	position: absolute;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.6);
	height: 200px;
	width: 100%;
}

#home-strip h2 {
	font-size: 82px;
	width: 100%;
	text-align: center;
	line-height: 120px;
	margin: 0;
	font-family: PT Serif;
}

.sticky-top {
	background: rgba(255,255,255,0.7);
}

.sticky-top a {
	font-family: Neucha;
	font-size: 38px;
}

#lhr {
	position: absolute;
	width: 25%;
	border: 1px solid #212529;
	left: 0;
	margin: 0;
}

#rhr {
	position: absolute;
	width: 25%;
	border: 1px solid #212529;
	right: 0;
	margin: 0;
}

#home-bg2 {
}

#home-bg2 div {
	background-color: #1988f9;
}

.fix-top {
	position: relative;
	top: -120px;
}